html {
    font-family: Arial;
    height: 92%;
}

body {
    background-color: #000000;
    min-height: 100%;
    height: 100%;
}

input {
    background-color: #10282F;
    border: 1px solid black;
    color: darkgray;
}

.navbar-row {
    height: 9%;
}

.nav-button-wrapper {
    margin-top: 14px;
    float: right;
}

.navbar-header {
    margin-top: 14px;
}

.active-users-button {
    height: 38px;
    width: 100%;
}

.container-fluid {
    min-height: 100%;
    height: 100%;
}

.nav-button {
    padding: 0px 30px 0px 30px;
    margin: 0px 10px 0px 10px;
}

.right-col {
    height: 99%;
}

.middle-col {
    height: 98%;
}

.left-col {
    height: 98%;
}

#video {
    height: 100%;
    width: 100%;
}

iframe#player {
    height: 100%;
    min-height: 100%;
}

#video-search {
    width: 50%;
    margin: 0 auto;
    margin-top: 26px;
    margin-bottom: 20px;
    background-color: #10282F;
    color: whitesmoke;
}

#video-results {
    width: 75%;
    margin: 0 auto;
}

.main-nav {
    background-color: #10282F;
}

.main-content {
    background-color: #061A0D;
    height: 99%;
    min-height: 99%;
}

.container-fluid {
    background: #000000;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(top, #5ba5cb 0%,#3a70ab 100%);
    background: -moz-linear-gradient(top, #5ba5cb 0%,#3a70ab 100%);
    background: -webkit-linear-gradient(top, #5ba5cb 0%,#3a70ab 100%);
    border: 1px solid #3e76af;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 #66b2d2 inset;
    color: #ebebeb;
}

/*#video-search {
    background-color: rgb(35, 45, 44);
    border: 1px solid darkcyan;
    margin-top: 32px;
}

#search-results, #playlist {
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(39, 30, 30);
    color: dimgray;
    border: 1px solid rgb(107, 107, 119);
    display: none;
}
*/

#playlist {
    height: 100%;
}

#playlist-ul {
    display: inline-block;
    height: 100%;
    padding: 10px 2px 10px 2px;
    overflow-y: scroll;
}

.playlist-item {
    cursor: pointer;
    height: 60px;
}

.playlist-item:hover {
    background-color: #212025;
    opacity: 0.7;
}

.search-result {
    border-bottom: 1px solid rgb(22, 109, 116);
    padding-bottom: 16px;
    padding-top: 10px;
    cursor: pointer;
    height: 90px;
    font-size: 10px;
}

.search-result:hover {
    opacity: 0.6;
}

.media-heading {
    color: rgb(148, 148, 148);
}

#chat {
    height: 100%;
    min-height: 100%;
}

#chat-wrapper {
    height: 100%;
    min-height: 100%;
}

#chatbox {
    word-wrap: break-word;
    color: white;
    padding: 0px 10px 0px 10px;
    height: 94%;
    overflow-y: scroll;
}

.chat-input {
    width: 80%;
    display: inline-block;
    background-color: #10282F;
    color: whitesmoke;
}

.pagination > li > a:hover, .pagination-active {
    background-color: darkslategray !important;
    color: cyan;
}

.pagination > li > a:active, .pagination > li > a:visited, .pagination > li > a:hover {
    color: cyan;
}

.history-pagination {
    text-align: center;
}

.pagination > li > a {
    background-color: #071231;
    color: cyan;
}

.navbar-brand {
    color: #98CED4;
    height: inherit;
    padding: 0px 15px 0px 15px;
}

.video-wrapper {
    width: 100%;
    height: 100%;
}

.chat-message {
    font-size: 12px;
}

.meadia-heading {
    color: rgb(152, 173, 195);
    font-size: 12px;
}

.twitch-game {
    width: 50%;
    display: inline-block;
}

#twitch {
    width: 100%;
}
