{% verbatim %}

{{ #if active }}

    <div id="chat-wrapper">


        {{ #if mode === 'chat' }}

            <div id="chatbox">
            {{ #each chats }}
                <p class="chat-message"><b>{{ user.username }}</b>: {{ content }}</p>
            {{ /each }}
            </div>

            <div class="input-group">
                <input type="text" class="form-control chat-input" value="{{ message }}" on-keydown="keydown">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" style="margin-bottom: 3px;" type="button" on-click="keydown:click">Yep</button>
                </span>
            </div>

        {{ else }}

            <ul>
                {{ #each users }}
                <li>{{ username }}</li>
                {{ /each }}
            </ul>

        {{ /if }}

    </div>

{{ /if }}

{% endverbatim %}
