{% verbatim %}
<div class="nav-wrapper">
    <button class="nav-button btn btn-primary" on-click="navigate:home">Home</button>
    <button class="nav-button btn btn-success" on-click="navigate:search">Search</button>
    <button class="nav-button btn btn-danger" on-click="navigate:history">History</button>
    <button class="nav-button btn btn-warning" on-click="skip">Skip</button>
    <button class="nav-button btn btn-info" on-click="random">Don't press</button>
    <button class="nav-button btn btn-info" on-click="navigate:rooms">Rooms</button>
    <button class="nav-button btn btn-danger" on-click="logout">Logout</button>
</div>
{% endverbatim %}
