{% verbatim %}
<ul class="nav nav-tabs nav-wrapper">
    <li class="{{ currentPage === 'home' ? 'active' : '' }}" on-click="navigate:home"><a href="#">Home</a></li>
    <li class="{{ currentPage === 'search' ? 'active' : '' }}" on-click="navigate:search"><a href="#">Search</a></li>
    <li class="{{ currentPage === 'history' ? 'active' : '' }}" on-click="navigate:history"><a href="#">History</a></li>
    <button class="nav-button btn btn-warning" on-click="skip">Skip</button>
    <button class="nav-button btn btn-info" on-click="random">Don't press</button>
    <button class="nav-button btn btn-danger" on-click="logout">Logout</button>
</ul>
{% endverbatim %}
