{% verbatim %}

{{ #if active }}

<input id="video-search" type="text" class="form-control" value="{{ query }}" />

{{ #if inProgress }}
    <img style="text-align: center;" src="/static/images/loading.gif" />
{{ /if }}

{{ #if !inProgress }}
    {{ #each pages }}
    <li>
        <a href="#" class="{{ this === currentPage ? 'pagination-active' : ''}}" on-click="getSearchResultPage:{{ this }}">
            {{ this }}
        </a>
    </li>
    {{ /each }}
{{ /if }}

<ul id="video-results" class="media-list">

    {{ #each visibleResults:i }}
    <li class="media playlist-item search-result" on-click="queueVideo:{{ i }}">
        <div class="media-left">
            <img class="media-object" src="{{ snippet.thumbnails.default.url }}">
        </div>
        <div class="media-body">
            <h5 class="media-heading">{{ snippet.title }}</h5>
            <p style="color: white;">{{ snippet.description }}</p>
        </div>
    </li>
    {{ /each }}

</ul>

{{ /if }}

{% endverbatim %}
