{% verbatim %}

{{ #if active }}

    {{ #if mode === 'games' }}

        <div style="text-align: center; height: 38px; margin-top: 16px;">
            <ul class="pagination" style="margin: 0 0 0 0;">
                {{ #each gamesPages }}
                <li>
                    <a href="#" class="{{ this === currentPageGames ? 'pagination-active' : ''}}" on-click="getGamesPage:{{ this }}">
                        {{ this }}
                    </a>
                </li>
                {{ /each }}
            </ul>
        </div>

        <ul class="media-list">
            {{ #each visibleResultsGames }}
            <li class="media playlist-item search-result twitch-game" on-click="loadTwitchChannels:{{ game.name }}">
                <div class="media-left">
                    <img class="media-object" src="{{ game.box.small.replace('http://', 'https://') }}" />
                </div>
                <div class="media-body">
                    <h5 class="media-heading">{{ game.name }}</h5>
                    <p style="color: white;">Channels: {{ channels }}</p>
                    <p style="color: white;">Viewers: {{ viewers }}</p>
                </div>
            </li>
            {{ /each }}
        </ul>

    {{ elseif mode === 'channels' }}

        <div style="text-align: center; height: 38px; margin-top: 16px;">
            <ul class="pagination" style="margin: 0 0 0 0;">
                {{ #each channelsPages }}
                <li>
                    <a href="#" class="{{ this === currentPageChannels ? 'pagination-active' : ''}}" on-click="getChannelsPage:{{ this }}">
                        {{ this }}
                    </a>
                </li>
                {{ /each }}
            </ul>
        </div>

        <ul class="media-list">
            {{ #each visibleResultsChannels }}
            <li class="media playlist-item search-result twitch-channel" on-click="streamChannel:{{ channel }}">
                <div class="media-left">
                    <img class="media-object" src="{{ preview.small.replace('http://', 'https://') }}" />
                </div>
                <div class="media-body">
                    <h5 class="media-heading">{{ channel.status }}</h5>
                    <p style="color: white;">Streamer: {{ channel.name }}</p>
                    <p style="color: white;">Viewers: {{ viewers }}</p>
                </div>
            </li>
            {{ /each }}
        </ul>

    {{ else }}

        <iframe class="videoplayer" src="{{ streamingChannel }}" frameborder="0" scrolling="no" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>

    {{ /if }}

{{ /if }}

{% endverbatim %}
