{% extends "index.html" %}

{% block base %}

<script type="text/javascript">

window.onload = function() {

    var Crossbar = {

        connection: null,
        session: null,
        socketUpdate: true,

        initialize: function() {
            var self = this;

            this.connection = new autobahn.Connection({
                url: 'wss://' + document.location.host + ':8080/ws',
                realm: 'mediacenter',
                authmethods: ['wampcra'],
                authid: '{{ user.pk }}',
                onchallenge: function(session, method, extra) {
                    return autobahn.auth_cra.sign('{{ key }}', extra.challenge);
                }
            });

            this.connection.onopen = function(session, details) {
                self.session = session;

                self.rpc('initialize', null, function(response) {
                    if(response) {
                        UI.chat.set('users', response.users);
                        UI.chat.set('chats', response.chats);
                        UI.playlist.set('videos', response.videos);
                        UI.history.set('pages', response.historyPages);

                        Youtube.playVideo(response.playing);
                    }
                });

                self.subscribe('users', function(args) {
                    var type = args[0];
                    var data = args[1];

                    switch(type) {
                        case 'list':
                            UI.chat.set('users', data);
                            break;

                        default:
                            break;
                    }
                });

                self.subscribe("chat", function(message) {
                    UI.chat.push("chats", message[0]);
                    UI.chatboxScroll();
                });

                self.subscribe("video", function(args) {
                    var type = args[0];

                    switch(type) {
                        case "play":
                            var video = args[1];
                            Youtube.playVideo(video);
                            break;

                        case "end":
                            var video = args[1];
                            var playlist = args[2];
                            Youtube.endVideo(video);
                            UI.playlist.set("videos", playlist === null ? [] : playlist);
                            break;

                        case "pause":
                            var sid = args[1];
                            if(sid != self.session.id) {
                                var position = args[2];
                                Youtube.player.pauseVideo();
                                Youtube.startPaused_PAUSE = false;
                                self.socketUpdate = false;
                                Youtube.player.seekTo(position);
                            }
                            break;

                        case "resume":
                            var sid = args[1];
                            if(sid != self.session.id) {
                                var position = args[2];
                                Youtube.player.seekTo(position + 0.5);
                                Youtube.player.playVideo();
                                Youtube.startPaused_RESUME = false;
                                self.socketUpdate = false;
                            }
                            
                            break;

                        default:
                            console.error("self.subscribe('video') message type: " + type);
                            break;
                    }
                });

                self.subscribe("playlist", function(data) {
                    var videos = data[0];
                    var pages = data[1];

                    var currentPage = UI.history.get("currentPage");

                    if(!Youtube.player) {
                        var video = videos[0];
                        UI.playlist.set("videos", videos.slice(1));
                        self.rpc("playVideo", {video: video, room: State.room});
                    } else {
                        UI.playlist.set("videos", videos);
                    }

                    if(pages) {
                        UI.history.set("pages", pages);
                    }

                    if(UI.history.get("active") && pages[pages.length-1] === currentPage) {
                        UI.history._subs.getVideoHistory[0](null, UI.history.get("currentPage"));
                    }

                    UI.history.update();
                });
            };

            this.connection.onclose = function(reason, details) {
                console.info("CONNECTION CLOSED: ", reason, details);
            };

            this.connection.open();
        },

        rpc: function(endpoint, args, callback) {
            if(this.session) {

                success = function(response) {
                    if(callback) {
                        callback(response);
                    }
                };

                error = function(error) {
                    console.info(endpoint + " error: ", error);
                };

                if(typeof args === 'undefined' || args === null) {
                    args = {room: State.room};
                } else if(typeof args === 'object') {
                    args.room = State.room;
                }

                args.socket = this.session._id;

                this.session.call(endpoint, [args]).then(success, error);

            } else {
                console.info("Attempted RPC call with no session.");
            }
        },

        subscribe: function(endpoint, callback) {
            if(this.session) {

                success = function(subscription) {
                    console.info("subscribed to " + endpoint + ": ", subscription);
                };

                error = function(error) {
                    cosole.info("error subscribing to " + endpoint + ": " + error);
                };

                this.session.subscribe(State.room + '.' + endpoint, callback).then(success, error);
            }
        },

        register: function(endpoint, procedure) {
            if(this.session) {

                success = function(registered) {
                    console.info("procedure registered", registered);
                };

                error = function(error) {
                    console.info("failed to register procedure", error);
                };

                this.session.register(endpoint, procedure).then(success, error);
            }
        },

        publish: function(endpoint, args) {
            this.session.publish(endpoint, args);
        }
    };


    var Search = {

        searchShowing: false,

        initialize: function() {
            gapi.client.setApiKey("AIzaSyBCq4bjDcsrw1S13ZAnQQ00THugEPeylcU");
            gapi.client.load("youtube", "v3", function() {
                // v3 API ready
                return null;
            });
        },

        search: function(query, random) {
            var self = this;

            var request = gapi.client.youtube.search.list({
                part: "snippet",
                type: "video",
                q: query,
                maxResults: 10,
                order: "viewCount"
            });

            request.execute(function(response) {
                if(!random) {
                    var maxPages = UI.search.get('perPage');
                    var pages = [];

                    for(var i = 1; i <= Math.floor(response.items.length / maxPages); i++) {
                        pages.push(i);
                    }

                    UI.search.set('pages', pages);
                    UI.search.set('currentPage', 1);
                    UI.search.set('results', response.items);
                    UI.search.set('visibleResults', response.items.slice(0, maxPages));
                } else {
                    if(response.items.length) {
                        var video = response.items[0];
                        video.uid = User.uid;
                        Crossbar.rpc("queueVideo", {video: video});
                    } else {
                        UI.navbar._subs.random[0]();
                    }

                    self.clearSearchResults();
                    return response.items;
                }
            });
        },

        clearSearchResults: function() {
            if(this.searchShowing) {
                UI.search.set("results", []);
                this.searchShowing = false;
            }
        }
    };


    var User = {
        uid: {{ user.pk }},
        username: "{{ user.username }}"
    };

    var State = {
        room: '{{ room }}'
    };

    var Youtube = {
        videoHeight: "100%",
        videoWidth: "100%",
        previousState: null,
        player: null,

        videoStart: 0,

        // fucked up
        startPaused: true,
        startPaused_RESUME: true,
        startPaused_PAUSE: true,

        initialize: function() {
            window.onYouTubeIframeAPIReady = function() {
                Crossbar.initialize();
                Search.initialize();
            };

            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        },

        createPlayer: function(settings) {
            this.player = new YT.Player("player", settings);
        },

        onPlayerReady: function(event) {
            this.player.seekTo(this.videoStart);
            this.videoStart = 0;

            if(this.startPaused) {
                this.player.pauseVideo();
            }
        },

        onPlayerStateChange: function(event) {
            var self = this;

            switch(event.data) {

                case YT.PlayerState.PLAYING:
                    if(this.previousState === YT.PlayerState.PAUSED || this.startPaused_RESUME) {
                        if(Crossbar.socketUpdate || this.startPaused_RESUME) {
                            Crossbar.rpc("resumeVideo", {position: this.player.getCurrentTime()});
                        }
                    }
                    Crossbar.socketUpdate = true;
                    break;

                case YT.PlayerState.PAUSED:
                    if(Crossbar.socketUpdate || this.startPaused_PAUSE) {
                        Crossbar.rpc("pauseVideo", {position: this.player.getCurrentTime()});
                    }
                    Crossbar.socketUpdate = true;
                    break;

                case YT.PlayerState.ENDED:
                    Crossbar.rpc("endVideo");
                    Crossbar.socketUpdate = true;
                    break;

                case YT.PlayerState.CUED:
                    break;

                case YT.PlayerState.BUFFERING:
                    if(Crossbar.socketUpdate && this.previousState === YT.PlayerState.PAUSED) {
                        Crossbar.rpc("resumeVideo", {position: this.player.getCurrentTime() + 1});
                    }
                    break;

                case YT.PlayerState.UNSTARTED:
                    break;

                default:
                    console.info('default switch in player state change');
                    break;
            }

            this.previousState = event.data;
        },

        playVideo: function(track) {
            if(track && !this.player) {
                var self = this;

                this.startPaused = this.startPaused_RESUME = this.startPaused_PAUSE = track.state === 0;

                this.videoStart = track.start_seconds;

                this.createPlayer({
                    height: this.videoHeight,
                    width: this.videoWidth,
                    videoId: track.video_id,
                    playerVars: {
                        modestbranding: 1,
                        rel: 0
                    },
                    events: {
                        onReady: this.onPlayerReady.bind(self),
                        onStateChange: this.onPlayerStateChange.bind(self)
                    }
                });
            }
        },

        endVideo: function(track) {
            this.player.destroy();
            this.player = null;

            if(track) {
                this.playVideo(track);
            }
        }
    };


    var UI = {

        searchTimeout: null,

        chatboxScroll: function() {
            var chatbox = document.getElementById('chatbox');
            chatbox.scrollTop = chatbox.scrollHeight;
        },

        navigate: function(page) {
            var self = this;

            for(var p in this.pageRegistry) {
                p = this.pageRegistry[p];

                if(p.get('activeOn').indexOf(page) > -1) {
                    p.set('active', true);
                } else {
                    p.set('active', false);
                }
            }

            if(page === 'history') {
                var historyPage = this.history.get('currentPage');
                Crossbar.rpc('getVideoHistory', {page: historyPage}, function(response) {
                    self.history.set('videos', response);
                });
            }

            if(page === 'home') {
                this.chatboxScroll();
            }

            this.navbar.set('view', page);
        },

        initialize: function() {
            var self = this;

            this.pageRegistry = [
                this.profile,
                this.history,
                this.playlist,
                this.search,
                this.player,
                this.chat
            ];

            this.search.observe("query", function(query) {
                if(query.trim()) {
                    clearTimeout(self.searchTimeout);
                    self.searchTimeout = setTimeout(function() {
                        Search.search(encodeURIComponent(query).replace(/%20/g, "+"));
                        self.searchTimeout = null;
                        self.search.set("query", "");
                    }, 2000);

                    self.search.set('inProgress', true);
                } else {
                    self.search.set('inProgress', false);
                }

                self.search.set("results", []);
            });

            this.navbar.on("navigate", function(event, page) {
                self.navigate(page);
            });

            this.chat.on("keydown", function(event, click) {
                if(event.original.keyCode == "13" || click) {
                    var content = self.chat.get("message");
                    if(content.trim()) {
                        Crossbar.rpc("sendChat", {
                            content: content
                        });

                        self.chat.set("message", "");
                        self.chat.update();
                    }
                }
            });

            this.search.on("queueVideo", function(event, index) {
                index = self.search.get('page') === 1 ? index : page * index;
                var video = self.search.get("results")[index];
                video.uid = User.uid;
                self.navigate('home');
                Crossbar.rpc("queueVideo", {video: video});
                self.search.set("results", []);
            });

            this.playlist.on("deQueueVideo", function(event, index) {
                var video = self.playlist.get("videos")[index];
                Crossbar.rpc("deQueueVideo", {video: video});
            });

            this.navbar.on("random", function(event) {
                var randint = function(min, max) {
                    return Math.floor(Math.random() * (max - min + 1)) + min;
                };

                Search.search(
                    encodeURIComponent(WORDS[randint(0, WORDS.length-1)]).replace(/%20/g, "+"),
                    "random"
                );
            });

            this.navbar.on("skip", function(event) {
                Crossbar.rpc("endVideo");
            });

            this.history.on("getVideoHistory", function(event, page) {
                self.history.set("currentPage", page);

                Crossbar.rpc("getVideoHistory", {page: page}, function(response) {
                    self.history.set("videos", response);
                });
            });

            this.search.on('getSearchResultPage', function(event, page) {
                var results = self.search.get('results');
                var perPage = self.search.get('perPage');
                self.search.set('visibleResults', results.slice((page - 1) * perPage, page * perPage));
            });

            this.history.on("paginationGroup", function(event, num) {
                var set = self.history.get("set");
                var pageLimit = self.history.get("pageLimit");
                var pages = self.history.get("pages");

                if(num === -1 && set > 1 || num === 1 && pages.indexOf((set * pageLimit) + 1) !== -1) {
                    var page = num === 1 ? (set * pageLimit) + 1 : ((set-1) * pageLimit) - pageLimit + 1;
                    self.history.set("set", set + num);
                    self.history.set("currentPage", page);

                    Crossbar.rpc("getVideoHistory", {page: page}, function(response) {
                        self.history.set("videos", response);
                    });

                    self.history.update();
                }
            });

            this.chat.on('toggleChatUsers', function() {
                self.chat.set('mode', self.chat.get('mode') === 'chat' ? 'users' : 'chat');
            });

            this.navbar.on("logout", function() {
                Crossbar.rpc('logout');
                window.location = '/logout/';
            });

            this.chat.push('chats', {
                user: {
                    username: 'Joining'
                },
                content: State.room + ' :)'
            });
        },

        navbar: new Ractive({
            el: "#navbar",
            template: "#navbar-template",
            data: {
                view: "home",
                room: State.room
            }
        }),

        chat: new Ractive({
            el: "#chat",
            template: "#chat-template",
            data: {
                active: true,
                activeOn: ['home', 'search', 'history'],
                mode: 'chat',
                chats: [],
                users: []
            }
        }),

        player: new Ractive({
            el: "#video",
            template: "#video-template",
            data: {
                active: true,
                activeOn: ['home'],
                currentlyPlaying: null
            }
        }),

        search: new Ractive({
            el: "#search",
            template: "#search-template",
            data: {
                active: false,
                activeOn: ['search'],
                query: "",
                inProgress: false,
                results: [],
                pages: [],
                visibleResults: [],
                page: 1,
                perPage: 5
            }
        }),

        playlist: new Ractive({
            el: "#playlist",
            template: "#playlist-template",
            data: {
                active: true,
                activeOn: ['home', 'search', 'history'],
                videos: []
            }
        }),

        history: new Ractive({
            el: "#history",
            template: "#history-template",
            data: {
                active: false,
                activeOn: ['history'],
                pageLimit: 10,
                currentPage: 1,
                set: 1,
                pages: [],
                videos: [],

                validPage: function(page) {
                    var set = UI.history.get("set");
                    var pageLimit = UI.history.get("pageLimit");
                    return page > ((set-1) * pageLimit) && page < ((set * pageLimit) + 1);
                }
            }
        }),

        profile: new Ractive({
            el: "#profile",
            template: "#profile-template",
            data: {
                active: false,
                activeOn: ['profile'],
                user: User
            }
        }),

        pageRegistry: null
    };

    window.onbeforeunload = function() {
        Crossbar.rpc('logout');
    };

    Youtube.initialize();
    UI.initialize();

    window.UI = UI;
    window.State = State;
    window.Crossbar = Crossbar;
    window.Youtube = Youtube;
};

</script>

{% endblock %}