<!DOCTYPE html>

<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mediacenter login</title>
</head>

<body style="background-color: #000000;">

    <div style="margin: 0 auto; font-family: monospace; color: white; text-align: center; margin-top: 12%;">

        <h1 style="font-size: 7em">Login</h1>

        {% if form.errors %}
        <p>Invalid username or password.</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <h4>{{ form.username.label_tag }}</h4>
            {{ form.username }}

            <h4>{{ form.password.label_tag }}</h4>
            {{ form.password }}

            <button type="submit">Sign in</button>

            <input type="hidden" name="next" value="{{ next }}" />

        </form>

    </div>

</body>

</html>
