<!DOCTYPE html>

<html>

<head lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rooms</title>

    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stock.css' %}">

    <script id="rooms-listing-template" type="text/ractive">

    {% verbatim %}

        <h1>THIS</h1>

    {% endverbatim %}

    </script>



    <script id="rooms-create-template" type="text/ractive">

    {% verbatim %}

    {{ #if active }}

    <h1>WTF</h1>

    <form class="form-horizontal" action="/index/">
        <input class="form-control" type="text" name="name" />
        <input class="form-control" type="text" name="desription" />
        <button class="btn btn-default" type="submit">GO</button>
    </form>

    {{ /if }}

    {% endverbatim %}

    </script>



    <script id="rooms-navbar-template" type="text/ractive">
        
    <div class="nav-wrapper">
        <button class="nav-button btn btn-primary" on-click="navigate:listing">Rooms</button>
        <button class="nav-button btn btn-success" on-click="navigate:create">Create Room</button>
    </div>

    </script>

</head>

<body>

    <div class="container-fluid">

        <div id="main-nav" class="row main-nav">

            <div id="rooms-navbar"></div>

        </div>

        <div class="row">

            <div id="rooms-listing"></div>

            <div id="rooms-create"></div>

        </div>

    </div>

</body>

<script src="{% static 'js/ractive.min.js' %}"></script>

<script>

    var Rooms = {

        initialize: function() {
            var self = this;

            this.roomsNavbar.on('navigate', function(e, nav) {
                console.log(e, nav);
                if (nav === 'listing') {
                    self.roomsListing.set('active', true);
                    self.roomsCreate.set('active', false);
                } else {
                    self.roomsListing.set('active', false);
                    self.roomsCreate.set('active', true);
                }
            });

        },

        roomsListing: new Ractive({
            el: '#rooms-listing',
            template: '#rooms-listing-template',
            data: {
                active: true,
                rooms: (function() {
                    var rooms = [];
                    {% for room in rooms %}
                    rooms.push('{{ room.name }}');
                    {% endfor %}
                    return rooms;
                })()
            }
        }),

        roomsCreate: new Ractive({
            el: '#rooms-create',
            template: '#rooms-listing-template',
            data: {
                active: false
            }
        }),

        roomsNavbar: new Ractive({
            el: '#rooms-navbar',
            template: '#rooms-navbar-template'
        })
    };

    Rooms.initialize();

</script>

</html>
