<!DOCTYPE html>

<html>

<head lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rooms</title>

    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stock.css' %}">

    <style>
        h1, h4, p {
            color: #ffffff;
        }

        h1 {
            padding-top: 30%;
        }
    </style>

    {% load customfilters %}

</head>

<body>

    <div class="container-fluid">

        <div class="row">

            <div class="col-xs-4"></div>

            <div class="col-xs-4">

                <h1>Make the room</h1>
                <p>~ Characters a-z, A-Z, 0-9, _, and - accepted.</p>
                <br />

                <form class="form-horizontal" method="post" enctype="multipart/form-data" action="">

                    {% csrf_token %}

                    <div class="form-group">
                        <h4>Title</h4>
                        {{ form.name|classes:"form-control" }}
                    </div>

                    <div class="form-group">
                        <h4>Description</h4>
                        {{ form.description|classes:"form-control" }}
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn-info">Make</button>
                    </div>

                </form>

            </div>

            <div class="col-xs-4"></div>

        </div>

    </div>

</body>
